.header {
  background: var(--gray-800);
  padding: 1.25rem 0;
  display: flex;
}
.logo {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.logoText {
  color: var(--gray-100);
  font-size: 30px;
}
.logoText2 {
  color: var(--orange);
  font-size: 30px;
}
